{% extends 'main.html' %}
{% block content %}
<h1>Mi generador de codigo qr</h1>
<form action="">
    <label for="ssid">SSID</label>
    <input type="text" name="ssid" id="ssid">
    <label for="password">Clave</label>
    <input type="text" name="password" id="password">
    <div>
        <div>
            <img src="" alt="" id="qrcode">
        </div>
        <div>
            <a href="#" id="download">Descarga</a>
        </div>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    let route = '{{ request.build_absolute_uri }}';
    let objeto = document.querySelectorAll('#ssid,#password');
    objeto.forEach(function(elemento){
        elemento.addEventListener('keyup',function(e){
            let imagen = document.getElementById('qrcode');
            let download = document.getElementById('download');
            let ssid = document.getElementById('ssid');
            let password = document.getElementById('password');
            let ssid_url;
            let password_url;
            if (ssid.value){
                ssid_url = ssid.value;
            }else{
                ssid_url = 'cambiar';
            }

            if (password.value){
                password_url = password.value;
            }else{
                password_url = 'cambiar';
            }


            let url = route + 'qrcode/' + ssid_url + '/' + password_url;
            let url_download = route + '/download/' + ssid_url + '/' + password_url;

            imagen.src = url;
            download.href = url_download;

        });
    });
</script>
{% endblock %}