{% extends 'main.html' %}
{% block content %}
<h1>Mi generador de codigo qr</h1>
<form action="">
    <label for="ssid">SSID</label>
    <input type="text" name="ssid" id="ssid">
    <label for="password">Clave</label>
    <input type="text" name="password" id="password">
    <div>
        <img src="" alt="" id="qrcode">
    </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    let objeto = document.querySelectorAll('#ssid,#password');
    objeto.forEach(function(elemento){
        elemento.addEventListener('keypress',function(e){
            let imagen = document.getElementById('qrcode');
            let ssid = document.getElementById('ssid');
            let password = document.getElementById('password');
            let ssid_url;
            let password_url;
            if (ssid.value){
                ssid_url = ssid.value;
            }else{
                ssid_url = 'cambiar';
            }

            if (password.value){
                password_url = password.value;
            }else{
                password_url = 'cambiar';
            }
            let url = 'http://localhost:8000/qrcode/' + ssid_url + '/' + password_url;
            imagen.src = url;
        });
    });
</script>
{% endblock %}